html, body, #app{
    width: 100%;
    height: 100%;
    background: #eaeaea;
}
.page{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #eaeaea;
}
.slideInRight, .slideOutRight{
    animation-duration: 200ms;
}
#add-note, #mine, #search, #not-find, #calendar{
    z-index: 2;
}
#write-note, #search-input{
    z-index: 3;
}